project                       = "docker-278011"
node_disk_size_gb             = "40"
machine_type                  = "n1-standard-1"
region                        = "europe-west1"
zone                          = "europe-west1-b"
node_count                    = "2"
